In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import pandas as pd
import numpy as np
import requests

# Create DataFrame

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [4]:
response

In [ ]:
response.json()

In [13]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [15]:
df.head(2)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560

In [17]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [19]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [20]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,65.488,8.6,11236
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,88.117,8.6,14518
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,25.025,8.6,4240

In [21]:
df.shape

(18560, 7)

# Data Cleaning

In [29]:
df.isnull().sum()

id              0
title           0
overview        0
release_date    0
popularity      0
vote_average    0
vote_count      0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18560 entries, 0 to 18559
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            18560 non-null  int64
 1   title         18560 non-null  object
 2   overview      18560 non-null  object
 3   release_date  18560 non-null  object
 4   popularity    18560 non-null  float64
 5   vote_average  18560 non-null  float64
 6   vote_count    18560 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1015.1+ KB

In [27]:
df.to_csv('movies.csv')

In [28]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,65.488,8.6,11236
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,88.117,8.6,14518
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,25.025,8.6,4240

In [30]:
df.duplicated().sum()

8560

In [33]:
df.drop_duplicates(keep='first', inplace=True)

In [34]:
df.duplicated().sum()

0

In [36]:
df.shape

(10000, 7)

In [37]:
df['overview'][0]

'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.'

In [38]:
df['overview'].apply(lambda x: x.split())

0       [Spanning, the, years, 1945, to, 1955,, a, chr...
1       [Framed, in, the, 1940s, for, the, double, mur...
2       [In, the, continuing, saga, of, the, Corleone,...
3       [The, true, story, of, how, businessman, Oskar...
4       [Raj, is, a, rich,, carefree,, happy-go-lucky,...
                              ...
9995    [Wendy, Darling,, a, young, girl, afraid, to, ...
9996    [Katherine, Morrissey,, a, former, Christian, ...
9997    [Marla, is, forced, to, abandon, her, carefull...
9998    [The, tragic, death, of, a, beautiful, young, ...
9999    [Deep, within, the, darkness, of, secluded, fo...
Name: overview, Length: 10000, dtype: object

In [39]:
df['overview'] = df['overview'].apply(lambda x: x.split())

In [40]:
df.head(2)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...",1994-09-23,104.251,8.7,24560

In [42]:
new_df = df.copy()

In [43]:
new_df['overview'].apply(lambda x:' '.join(x))

0       Spanning the years 1945 to 1955, a chronicle o...
1       Framed in the 1940s for the double murder of h...
2       In the continuing saga of the Corleone crime f...
3       The true story of how businessman Oskar Schind...
4       Raj is a rich, carefree, happy-go-lucky second...
                              ...
9995    Wendy Darling, a young girl afraid to leave he...
9996    Katherine Morrissey, a former Christian missio...
9997    Marla is forced to abandon her carefully struc...
9998    The tragic death of a beautiful young girl sta...
9999    Deep within the darkness of secluded forest la...
Name: overview, Length: 10000, dtype: object

In [44]:
new_df['overview'] = new_df['overview'].apply(lambda x:' '.join(x))

In [46]:
new_df.head(2)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560

In [47]:
new_df['overview'].apply(lambda x: x.lower())

0       spanning the years 1945 to 1955, a chronicle o...
1       framed in the 1940s for the double murder of h...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       raj is a rich, carefree, happy-go-lucky second...
                              ...
9995    wendy darling, a young girl afraid to leave he...
9996    katherine morrissey, a former christian missio...
9997    marla is forced to abandon her carefully struc...
9998    the tragic death of a beautiful young girl sta...
9999    deep within the darkness of secluded forest la...
Name: overview, Length: 10000, dtype: object

In [48]:
new_df['overview'] = new_df['overview'].apply(lambda x: x.lower())

In [49]:
new_df['overview'][0]

'spanning the years 1945 to 1955, a chronicle of the fictional italian-american corleone crime family. when organized crime family patriarch, vito corleone barely survives an attempt on his life, his youngest son, michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.'

# Creating Model

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [51]:
cv.fit_transform(new_df['overview']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [52]:
cv.fit_transform(new_df['overview']).toarray().shape

(10000, 5000)

In [53]:
vectors = cv.fit_transform(new_df['overview']).toarray()

In [54]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [55]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [61]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [57]:
len(cv.get_feature_names_out())

5000