In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import pandas as pd
import numpy as np
import requests

# Create DataFrame

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [4]:
response

In [5]:
response.json()

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg',
   'genre_ids': [18, 80],
   'id': 238,
   'original_language': 'en',
   'original_title': 'The Godfather',
   'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
   'popularity': 132.488,
   'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
   'release_date': '1972-03-14',
   'title': 'The Godfather',
   'video': False,
   'vote_average': 8.7,
   'vote_count': 18602},
  {'adult': False,
   'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
   'genre_ids': [18, 80],
   'id': 278,
   'original_language': 'en',
   'original_title': 'The Shawshank Redemption',
   'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
   'popularity': 104.251,
   'poster_path': '/lyQBXzOQSuE59IsHyhrp0qIiPAz.jpg',
   'release_date': '1994-09-23',
   'title': 'The Shawshank Redemption',
   'video': False,
   'vote_average': 8.7,
   'vote_count': 24560},
  {'adult': False,
   'backdrop_path': '/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg',
   'genre_ids': [18, 80],
   'id': 240,
   'original_language': 'en',
   'original_title': 'The Godfather Part II',
   'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
   'popularity': 65.488,
   'poster_path': '/bMadFzhjy9T7R8J48QGq1ngWNAK.jpg',
   'release_date': '1974-12-20',
   'title': 'The Godfather Part II',
   'video': False,
   'vote_average': 8.6,
   'vote_count': 11236},
  {'adult': False,
   'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
   'genre_ids': [18, 36, 10752],
   'id': 424,
   'original_language': 'en',
   'original_title': "Schindler's List",
   'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
   'popularity': 88.117,
   'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
   'release_date': '1993-12-15',
   'title': "Schindler's List",
   'video': False,
   'vote_average': 8.6,
   'vote_count': 14518},
  {'adult': False,
   'backdrop_path': '/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg',
   'genre_ids': [35, 18, 10749],
   'id': 19404,
   'original_language': 'hi',
   'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
   'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
   'popularity': 25.025,
   'poster_path': '/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg',
   'release_date': '1995-10-20',
   'title': 'Dilwale Dulhania Le Jayenge',
   'video': False,
   'vote_average': 8.6,
   'vote_count': 4240},
  {'adult': False,
   'backdrop_path': '/qqHQsStV6exghCM7zbObuYBiYxw.jpg',
   'genre_ids': [18],
   'id': 389,
   'original_language': 'en',
   'original_title': '12 Angry Men',
   'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
   'popularity': 37.796,
   'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
   'release_date': '1957-04-10',
   'title': '12 Angry Men',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 7606},
  {'adult': False,
   'backdrop_path': '/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg',
   'genre_ids': [16, 10751, 14],
   'id': 129,
   'original_language': 'ja',
   'original_title': '千と千尋の神隠し',
   'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
   'popularity': 85.264,
   'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
   'release_date': '2001-07-20',
   'title': 'Spirited Away',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 14842},
  {'adult': False,
   'backdrop_path': '/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg',
   'genre_ids': [35, 53, 18],
   'id': 496243,
   'original_language': 'ko',
   'original_title': '기생충',
   'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
   'popularity': 73.041,
   'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
   'release_date': '2019-05-30',
   'title': 'Parasite',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 16348},
  {'adult': False,
   'backdrop_path': '/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg',
   'genre_ids': [10749, 16, 18],
   'id': 372058,
   'original_language': 'ja',
   'original_title': '君の名は。',
   'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
   'popularity': 85.908,
   'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
   'release_date': '2016-08-26',
   'title': 'Your Name.',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 10243},
  {'adult': False,
   'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQnA.jpg',
   'genre_ids': [18, 28, 80, 53],
   'id': 155,
   'original_language': 'en',
   'original_title': 'The Dark Knight',
   'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
   'popularity': 98.502,
   'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
   'release_date': '2008-07-14',
   'title': 'The Dark Knight',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 30515},
  {'adult': False,
   'backdrop_path': '/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg',
   'genre_ids': [14, 18, 80],
   'id': 497,
   'original_language': 'en',
   'original_title': 'The Green Mile',
   'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
   'popularity': 75.633,
   'poster_path': '/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg',
   'release_date': '1999-12-10',
   'title': 'The Green Mile',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 15872},
  {'adult': False,
   'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
   'genre_ids': [53, 80],
   'id': 680,
   'original_language': 'en',
   'original_title': 'Pulp Fiction',
   'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
   'popularity': 65.473,
   'poster_path': '/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg',
   'release_date': '1994-09-10',
   'title': 'Pulp Fiction',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 25805},
  {'adult': False,
   'backdrop_path': '/qdIMHd4sEfJSckfVJfKQvisL02a.jpg',
   'genre_ids': [35, 18, 10749],
   'id': 13,
   'original_language': 'en',
   'original_title': 'Forrest Gump',
   'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
   'popularity': 69.54,
   'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg',
   'release_date': '1994-06-23',
   'title': 'Forrest Gump',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 25322},
  {'adult': False,
   'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
   'genre_ids': [12, 14, 28],
   'id': 122,
   'original_language': 'en',
   'original_title': 'The Lord of the Rings: The Return of the King',
   'overview': "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.",
   'popularity': 110.326,
   'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
   'release_date': '2003-12-01',
   'title': 'The Lord of the Rings: The Return of the King',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 22201},
  {'adult': False,
   'backdrop_path': '/eoCSp75lxatmIa6aGqfnzwtbttd.jpg',
   'genre_ids': [37],
   'id': 429,
   'original_language': 'it',
   'original_title': 'Il buono, il brutto, il cattivo',
   'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
   'popularity': 59.616,
   'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
   'release_date': '1966-12-23',
   'title': 'The Good, the Bad and the Ugly',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 7709},
  {'adult': False,
   'backdrop_path': '/sw7mordbZxgITU877yTpZCud90M.jpg',
   'genre_ids': [18, 80],
   'id': 769,
   'original_language': 'en',
   'original_title': 'GoodFellas',
   'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
   'popularity': 55.424,
   'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg',
   'release_date': '1990-09-12',
   'title': 'GoodFellas',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 11671},
  {'adult': False,
   'backdrop_path': '/zoVeIgKzGJzpdG6Gwnr7iOYfIMU.jpg',
   'genre_ids': [18, 10749],
   'id': 11216,
   'original_language': 'it',
   'original_title': 'Nuovo Cinema Paradiso',
   'overview': "A filmmaker recalls his childhood, when he fell in love with the movies at his village's theater and formed a deep friendship with the theater's projectionist.",
   'popularity': 31.856,
   'poster_path': '/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg',
   'release_date': '1988-11-17',
   'title': 'Cinema Paradiso',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 3930},
  {'adult': False,
   'backdrop_path': '/gavyCu1UaTaTNPsVaGXT6pe5u24.jpg',
   'genre_ids': [35, 18],
   'id': 637,
   'original_language': 'it',
   'original_title': 'La vita è bella',
   'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
   'popularity': 50.009,
   'poster_path': '/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg',
   'release_date': '1997-12-20',
   'title': 'Life Is Beautiful',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 12177},
  {'adult': False,
   'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg',
   'genre_ids': [28, 18],
   'id': 346,
   'original_language': 'ja',
   'original_title': '七人の侍',
   'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
   'popularity': 29.819,
   'poster_path': '/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg',
   'release_date': '1954-04-26',
   'title': 'Seven Samurai',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 3202},
  {'adult': False,
   'backdrop_path': '/gwj4R8Uy1GwejKqfofREKI9Jh7L.jpg',
   'genre_ids': [16, 18, 10752],
   'id': 12477,
   'original_language': 'ja',
   'original_title': '火垂るの墓',
   'overview': 'In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.',
   'popularity': 0.6,
   'poster_path': '/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg',
   'release_date': '1988-04-16',
   'title': 'Grave of the Fireflies',
   'video': False,
   'vote_average': 8.5,
   'vote_count': 4824}],
 'total_pages': 574,
 'total_results': 11465}

In [6]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [7]:
df.head(2)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560

In [8]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [9]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [10]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,65.488,8.6,11236
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,88.117,8.6,14518
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,25.025,8.6,4240

In [11]:
df.shape

(8560, 7)

# Data Cleaning

In [12]:
df.isnull().sum()

id              0
title           0
overview        0
release_date    0
popularity      0
vote_average    0
vote_count      0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8560 entries, 0 to 8559
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8560 non-null   int64
 1   title         8560 non-null   object
 2   overview      8560 non-null   object
 3   release_date  8560 non-null   object
 4   popularity    8560 non-null   float64
 5   vote_average  8560 non-null   float64
 6   vote_count    8560 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 468.2+ KB

In [14]:
df.to_csv('movies.csv')

In [15]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,65.488,8.6,11236
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,88.117,8.6,14518
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,25.025,8.6,4240

In [16]:
df.duplicated().sum()

0

In [17]:
df.drop_duplicates(keep='first', inplace=True)

In [18]:
df.duplicated().sum()

0

In [19]:
df.shape

(8560, 7)

In [20]:
df['overview'][0]

'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.'

In [21]:
df['overview'].apply(lambda x: x.split())

0       [Spanning, the, years, 1945, to, 1955,, a, chr...
1       [Framed, in, the, 1940s, for, the, double, mur...
2       [In, the, continuing, saga, of, the, Corleone,...
3       [The, true, story, of, how, businessman, Oskar...
4       [Raj, is, a, rich,, carefree,, happy-go-lucky,...
                              ...
8555    [The, Griswold, family, hits, the, road, again...
8556    [Max, and, Page, are, a, brilliant, mother/dau...
8557    [Once, upon, a, time..., in, the, far, away, k...
8558    [Looking, for, an, escape, from, her, recurrin...
8559    [After, waking, up, in, a, hospital, with, amn...
Name: overview, Length: 8560, dtype: object

In [22]:
df['overview'] = df['overview'].apply(lambda x: x.split())

In [23]:
df.head(2)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...",1994-09-23,104.251,8.7,24560

In [24]:
new_df = df.copy()

In [25]:
new_df['overview'].apply(lambda x:' '.join(x))

0       Spanning the years 1945 to 1955, a chronicle o...
1       Framed in the 1940s for the double murder of h...
2       In the continuing saga of the Corleone crime f...
3       The true story of how businessman Oskar Schind...
4       Raj is a rich, carefree, happy-go-lucky second...
                              ...
8555    The Griswold family hits the road again for a ...
8556    Max and Page are a brilliant mother/daughter c...
8557    Once upon a time... in the far away kingdom of...
8558    Looking for an escape from her recurring night...
8559    After waking up in a hospital with amnesia, pr...
Name: overview, Length: 8560, dtype: object

In [26]:
new_df['overview'] = new_df['overview'].apply(lambda x:' '.join(x))

In [27]:
new_df.head(2)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,132.488,8.7,18602
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,104.251,8.7,24560

In [28]:
new_df['overview'].apply(lambda x: x.lower())

0       spanning the years 1945 to 1955, a chronicle o...
1       framed in the 1940s for the double murder of h...
2       in the continuing saga of the corleone crime f...
3       the true story of how businessman oskar schind...
4       raj is a rich, carefree, happy-go-lucky second...
                              ...
8555    the griswold family hits the road again for a ...
8556    max and page are a brilliant mother/daughter c...
8557    once upon a time... in the far away kingdom of...
8558    looking for an escape from her recurring night...
8559    after waking up in a hospital with amnesia, pr...
Name: overview, Length: 8560, dtype: object

In [29]:
new_df['overview'] = new_df['overview'].apply(lambda x: x.lower())

In [30]:
new_df['overview'][0]

'spanning the years 1945 to 1955, a chronicle of the fictional italian-american corleone crime family. when organized crime family patriarch, vito corleone barely survives an attempt on his life, his youngest son, michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.'

In [31]:
import nltk

In [32]:
from nltk.stem.porter import PorterStemmer

In [33]:
ps = PorterStemmer()

In [34]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [35]:
stem(new_df['overview'][0])

'span the year 1945 to 1955, a chronicl of the fiction italian-american corleon crime family. when organ crime famili patriarch, vito corleon bare surviv an attempt on hi life, hi youngest son, michael step in to take care of the would-b killers, launch a campaign of bloodi revenge.'

In [36]:
new_df['overview'] = new_df['overview'].apply(stem)

In [37]:
new_df['overview']

0       span the year 1945 to 1955, a chronicl of the ...
1       frame in the 1940 for the doubl murder of hi w...
2       in the continu saga of the corleon crime famil...
3       the true stori of how businessman oskar schind...
4       raj is a rich, carefree, happy-go-lucki second...
                              ...
8555    the griswold famili hit the road again for a t...
8556    max and page are a brilliant mother/daught con...
8557    onc upon a time... in the far away kingdom of ...
8558    look for an escap from her recur nightmares, 1...
8559    after wake up in a hospit with amnesia, profes...
Name: overview, Length: 8560, dtype: object

# Creating Model

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [39]:
cv.fit_transform(new_df['overview']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [40]:
cv.fit_transform(new_df['overview']).toarray().shape

(8560, 5000)

In [41]:
vectors = cv.fit_transform(new_df['overview']).toarray()

In [42]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [43]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [44]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [45]:
len(cv.get_feature_names_out())

5000